name: Node.js CI/CD && Test

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/hospital-backend:latest
          
  k3s:
    runs-on: [self-hosted, linux]
    needs: [build-and-deploy]

    env:
      K3S_NAMESPACE: num

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Ensure namespace exists
        run: |
          kubectl create namespace $K3S_NAMESPACE --dry-run=client -o yaml | kubectl apply -f -

      - name: Create Mongo Secret
        run: |
          kubectl -n $K3S_NAMESPACE create secret generic hospital-secrets \
            --from-literal=mongodb_uri="${{ secrets.MONGODB_URI }}" \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Deploy Backend
        run: |
          kubectl apply -n $K3S_NAMESPACE -f k3s/deployment.yaml
          kubectl apply -n $K3S_NAMESPACE -f k3s/service.yaml

      - name: Verify Deployment
        run: |
          kubectl rollout status deployment/hospital-backend -n $K3S_NAMESPACE
          kubectl get pods -n $K3S_NAMESPACE
          kubectl get svc -n $K3S_NAMESPACE